@using System.Web.UI.HtmlControls
@using LalokNet.Models
@model List<Post>

@for (int i = 0; i < Model.Count; i++)
{
	var post = Model[i];
	<div class="postTop">
		<div style="display: inline-block; margin-bottom: 0px; font-weight: bold;">
			<a style="font-weight: normal;" href="https://vk.com/id@(post.PosterId)?w=wall@(post.PosterId)_@(post.VkId)">#@(ViewBag.postId + i + 1)</a> @post.PosterName
		</div>
		<div style="display: inline-block; float: right; margin-bottom: 0px; color: darkgray">@post.PostDate</div>
	</div>

	<div class="postStyle">
		<div>@post.PostContent</div>
		<br clear="all" />

		<div>
			@if (post.Photos != null && post.Photos.Count > 0)
			{
				foreach (var photo in post.Photos)
				{
					<div style="display: inline-block; margin: 10px;">
						<img src="@photo.Photo604Px" width="250" />
					</div>
				}
			}
		</div>

		<div>
			<div class="bottomParamBlock">
				@post.LikesAmount <img class="bottomParamImage" src="http://www.iconsearch.ru/uploads/icons/medicalvista/128x128/heart_beat.png" width="20" />
			</div>
			<div class="bottomParamBlock">
				@post.RepostsAmount <img class="bottomParamImage" src="https://change-wm.com/wp-content/uploads/repost.png" width="20" />
			</div>
			<div class="bottomParamBlock">
				@post.CommentsAmount <img class="bottomParamImage" src="http://s1.iconbird.com/ico/2013/8/429/w128h1281377939697185079bubblecommentstreamlinetalk3.png" width="20" />
			</div>
		</div>
	</div>
}

